<%= provide(:title, 'Home') %>

<div class="hero-unit">
  <h1>Agoas</h1>
  Agoas is another generic online auctions serivce. It is being made to practice my Rails skills. All presented auctions here are fake but you can create one yourself for test purposes. Feel free to break something.
</div>
